body{
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}


nav ul {
	list-style-type: none;
	padding: 0;
	text-decoration: none;
}

nav ul li {
	font-size: 32px;
	font-family: sans-serif;
	background-color: white;
	border: 2px solid black;
	letter-spacing: 0.1em;
	width: 5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
    padding: 8PX;
    text-decoration: none;
}

nav ul li span {
	color: white;
	mix-blend-mode: difference;
    text-decoration: none;
}

nav ul li::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: black;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
	text-decoration: none;
}

nav ul li:hover::before {
	transform: scale(7);
	text-decoration: none;
}
